<p>addtion works!</p>
Take The Value in Developer <br><br>
<input [value]="no1"> <br><br>


<input [value]="no2"> <br><br>

<input [value]="sum" > <br> <br>

<input type="button" value="Addition" (click)="add()">


<br><br>
get the value for User <br><br>

<input type="number"  name="no1" [(ngModel)]="no1"> <br> <br>
 
<input type="number" name="no2"[(ngModel)]="no2"> <br><br>
 
<input type="number" name="sum" [(ngModel)]="sum"> <br><br>
 
<input type="number" type="button" value="addtion" (click)="add()">
